.Form {
	display: grid;
	grid-template-rows: min-content auto;
	/* align-content: stretch; */
	height: 92dvh;
	// height: 100dvh;
	// background-color: red;
	// display: grid;
	// grid-template-rows: auto 700px;
}

.FormHeader {
	// height: auto;
}
.FormTable {
	// border: 1px solid red;
	// height: 50cqi;
}
