.Screen {
	height: 100vh;
	// display: grid;
	// flex-direction: column;
	// flex: 1;
	// flex-grow: 1;
}
.PaneGroup {
	border: 0px solid red;
	min-height: 400px;
	height: calc(100vh - 76px);
	overflow: auto;
	padding: 6px;
}
.PaneTabs {
	padding: 6px;
	display: flex;
	// border-bottom: 2px solid #ccc; /* Линия под вкладками */
	margin: 0;
	position: relative; /* Для корректного позиционирования вкладок */
	flex-direction: row;
	// border: 0px solid red;
	// min-height: 50px;
	.Tab {
		/* perspective: 500px; */
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 6px;

		min-width: 100px;
		height: 30px;
		font: bold 13px "Segoe UI";
		background: #3498db;
		color: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		/* border: 1px solid red; */
		clip-path: polygon(
			0 0,
			100% 0,
			100% 100%,
			calc(100% - 15px) 100%,
			15px 100%,
			0 calc(100% - 15px)
		);
		// padding: 10px 20px; /* Отступы внутри вкладок */
		cursor: pointer; /* Курсор в виде указателя */
		color: #333; /* Цвет текста */
		// border: 1px solid #ccc; /* Граница вкладок */
		margin-right: -3px; /* Наложение краев */
		// background-color: #f9f9f9; /* Фон неактивных вкладок */
		transition: background-color 0.3s, color 0.3s; /* Плавный переход */
		position: relative; /* Для z-index */
		z-index: 1; /* Базовая позиция */
		&:hover {
			background-color: #e0e0e0; /* Фон при наведении */
			color: #000; /* Цвет текста при наведении */
		}
	}
	.active {
		// filter: drop-shadow(0 5px 10px green);
		background-color: #bd1a1a; /* Фон активной вкладки */
		// border-color: #ccc; /* Граница активной вкладки */
		// border-bottom: 2px solid #fff; /* Перекрываем нижнюю границу родителя */
		color: #000; /* Цвет текста активной вкладки */
		font-weight: bold; /* Жирный шрифт для активной вкладки */
		z-index: 2; /* Активная вкладка поверх остальных */
	}
}
