.FormWrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
}

.FormHeader {
	height: auto;
}
.FormBody {
	// padding: 3px;
}

.FormTable {
	// padding: 3px;
	width: 100%;
	margin-top: 20px;
	container-type: size;
	// flex-direction: column;
	flex: 1;
	display: flex; // border: 1px solid red;
	// height: 50cqi;
}
