* {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		// padding-top: 30px;
		background: $color30;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		// margin-top: 30px;
		background: $color10;
		border-radius: $radius2;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $color10;
	}
}

.animationLoop {
	animation: spin 3s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.animationLoop {
	animation: spin 1s linear infinite;
}

.blur5 {
	filter: blur(5px);
}

.TableWrapper {
	margin-top: 6px;
	gap: 6px;
	display: flex;
	container-type: size;
	flex-direction: column;
	flex: 1;
	min-height: 350px;
	min-width: 300px;
	transition: all 0.5ms ease;
	border-radius: $radius2;
}

.TableHeaderLabel {
	margin: 0 0 0px 0px;
	padding: 0px 0 0 9px;
	font-weight: bold;
	font-size: 120%;
	color: $color6;
	line-height: 27px;
	// background-color: red;
	// user-select: none;
	//////	// font-family: "Segoe UI";
	// letter-spacing: 1px;
}

.TableFilter {
	// margin: 6px 0px;
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	// align-items: ;
	// justify-content: space-between;
	gap: 12px;
}

.TabHeader {
	display: flex;
	flex-direction: row;
	gap: 6px;
	margin: 3px 0px;
	flex: 1 1 0%;
	box-sizing: content-box;
}
.TablePanel {
	overflow: clip;
	display: flex;
	flex-direction: row;
	gap: 6px;
	margin: 0px 0 0 0;
	flex: 0;
	justify-content: space-between;
	box-sizing: content-box;
	/* Add transition for animatable properties */
	transition: all 1s ease;

	@container (max-width: 800px) {
		flex-direction: row;
		align-items: stretch;
		flex-wrap: wrap;
	}
	/* Child elements */
	.TablePanelLeft,
	.TablePanelRight {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		/* Add transition for animatable properties */
		transition: all 1s ease;
	}
	.TablePanelLeft {
		justify-content: space-between;
		/* justify-content: flex-start; */
		flex: 1 1 100%;
		@container (max-width: 600px) {
			flex-direction: column;
			align-items: stretch;
			flex-wrap: wrap;
		}
	}
	.TablePanelRight {
		justify-content: flex-end;
		flex: 0 1 500px;
		@container (max-width: 600px) {
			flex-direction: row;
			align-items: stretch;
			flex-wrap: wrap;
		}
		@container (max-width: 1000px) {
			flex: 1 1 100%;
		}
	}
}

.TableScrollWrapper {
	height: 100%;
	// container-type: size;
	// display: flex;
	// flex-direction: column;
	// grid-template-rows: auto;

	// position: static;
	// left: 0;
	// right: 0;
	// top: 0;
	// bottom: 0;
	// display: flex;
	// flex-grow: 1;
	// height: 100px;
	// min-height: 0;
	// flex: 1;min-height: 0;
	// margin: 3px 0px;
	margin: 0px;
	// height: calc(100vh - 70px);
	// height: auto;
	// display: grid;
	// grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	background-color: #fff;
	// margin: 4px 4px 4px 4px;
	// width: auto;
	// background-color: red;
	// padding: 4px;
	// border: 1px solid $color30;
	scroll-behavior: smooth;
	// max-width: 100vw;
	// max-height: 90vh; /* Высота контейнера */
	overflow: scroll; /* Прокрутка по вертикали */
	// border-top: 1px solid $color10;
	// border-bottom: 1px solid $color10;
	// border-right: 1px solid $color10;
	border: 1px solid $color10;
	// border-bottom: 0px;
	// box-shadow: 0px 0px 2px $color6;
	box-shadow: inset 0 0 4px $color30;
	border-radius: $radius2;
}

table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	position: relative;
	border-spacing: 20px;
	// display: flex;
	// flex-direction: column;
	// flex: 1;
	table-layout: fixed; // нужен чтобы th и td соответствовали по ширине, без этого колонки прыгают при обновлении таблицы
	// table-layout: auto;
	// position: relative;
}

.onScrollTab {
	box-shadow: 0px 1px 10px $color6;
	// box-shadow: 0px 0px 0px red;
	// border: 3px solid red;
	transition: box-shadow 1s ease-out;
}

thead {
	// display: inline;
	background-color: $color30;
	position: sticky;
	top: 0;
	// z-index: 1;
	// table-layout: fixed;
	// width: 100%;
	// border-bottom: 1px solid red;
	// flex-grow: 1;

	tr {
		th {
			padding: 0px;
			font-weight: 500;
			// padding: 2px 0 3px 0;
			user-select: none;
			// cursor: default;
			// white-space: nowrap;
			border-right: 1px solid $color10;
			// border-left: 1px solid $color10; // need
			border-bottom: 0px;
			// overflow: hidden;
			// background-color: $color30;
			// width: max-content;
			// display: grid;
			// justify-content: center;
			&:first-child {
				border-left: 0px;
			}

			&:last-child {
				border-right: 0px;
			}
			.TableHeaderCell {
				padding: 1px 1px 1px 1px;
				margin: 1px;
				// display: grid;
				// grid-template-rows: 21px;
				// grid-auto-flow: column;
				// grid-template-columns: auto;
				place-items: center;
				// place-content: center;
				display: flex;
				flex-direction: row;
				align-items: center;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				border: 1px solid transparent;
				// align-items: center;
				height: $heightFieldInput - 4px;
				// min-width: 30px;
				// border-top: 1px solid $color34;
				// grid-template-columns: 1fr auto; /* Делаем элемент гибким */
				// max-width: 100%;
				// justify-content: center;
				// align-items: stretch;

				// align-items: center;
				// border: 1px solid transparent;
				cursor: default;
				// max-width: 150px;
				// text-overflow: ellipsis;
				span {
					padding: 0px 5px;
					// z-index: -999;
					// position: absolute;
					// align-self: center;
					// vertical-align: top;
					line-height: 20px;
					// display: grid;
					overflow: hidden;
					// background-color: red;
					white-space: nowrap;
					text-overflow: ellipsis;
					// font-size: 14px;
					// margin: auto 0;
				}
			} // .TableHeaderColumn

			// div {
			// 	// height: 27px;
			// 	display: grid;
			// 	grid-auto-flow: column;
			// 	align-items: center;
			// 	text-align: left;
			// 	padding: 4px 7px;
			// }
		}
	}
	&::after {
		margin-bottom: 0px;
		content: " "; /* Псевдоэлемент нуждается в содержимом */
		// padding: 2px; /* Отступы */
		display: block; /* Отображение блока, чтобы отступы работали */
		position: absolute; /* Позиционирование относительно родителя */
		bottom: 0; /* Например, расположение внизу */
		left: 0; /* Сдвиг от левого края */
		right: 0; /* Сдвиг от правого края, если нужно заполнить */
		// box-shadow: 0 0 1px 1px $color10;
		// border-bottom: 1px solid $color10;
		height: 1px;
		background: $color5;
		// transition: box-shadow 1s ease-out;
		box-shadow: 0px 1px 5px $color6;
	}
}

tbody {
	// flex-grow: 1;
	// flex: 1;
	// background-color: $color60;
	tr {
		border-bottom: 1px solid $color34;
		// &:last-child {
		//   height: 50px;
		//   border: 0px !important;
		// }
		td {
			padding: 0px;
			// width: min-content;
			border-right: 1px solid $color34;
			// border-bottom: 1px solid $color10;
			// border-top: 1px solid $color10;
			.TableBodyCell {
				user-select: none;
				padding: 1px 1px 1px 1px;
				margin: 1px;
				// margin: 1px;
				// display: grid;
				// grid-auto-flow: column;
				// grid-template-rows: $heightFieldInput;
				// grid-template-columns: 1fr;
				align-items: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				// white-space: nowrap;
				// text-overflow: ellipsis;
				// grid-template-columns: 1fr auto; /* Делаем элемент гибким */
				// max-width: 100%;
				// justify-content: center;
				// align-items: stretch;
				display: flex;
				place-items: center;
				// place-content: center;

				flex-direction: row;
				height: $heightFieldInput - 4px;
				// align-items: center;
				border: 1px solid transparent;
				// max-width: 150px;
				// text-overflow: ellipsis;
				span {
					padding: 0px 5px;
					// line-height: 20px;
					// align-self: center;
					// vertical-align: top;
					line-height: 17px;
					// display: grid;
					overflow: hidden;
					// background-color: red;
					white-space: nowrap;
					text-overflow: ellipsis;
					// font-size: 14px;
					// margin: auto 0;
				}
			} // .TableBodyColumn

			&:first-child {
				border-left: 0px;
			}

			&:last-child {
				border-right: 0px;
				// border-bottom: 1px solid $colorPrimaryDark;
			}
			// div {
			// 	display: flex;

			// 	// min-width: 10px;
			// 	align-items: center;
			// 	user-select: none;
			// }
		}
		&:last-child {
			border: 0px solid transparent;
		}
	}
}
tfoot {
	// display: inline;
	background-color: $color30;
	position: sticky;
	bottom: 0;
	// z-index: 1;

	border-top: 0px;
	tr {
		td {
			padding: 0px;
			font-weight: 500;
			// padding: 2px 0 3px 0;
			user-select: none;
			cursor: default;
			// white-space: nowrap;
			// border-right: 0px solid $color10;
			border-left: 1px solid $color10; // need
			border-top: 0px;
			border-bottom: 0px;
			// border-bottom: 4px solid red;
			// overflow: hidden;
			// background-color: $color30;
			// width: max-content;
			// display: grid;
			// justify-content: center;
			&:first-child {
				border-left: 0px;
			}
			&:last-child {
				border-right: 0px;
			}
			.TableFooterColumn {
				margin: 1px;
				display: grid;
				grid-template-rows: 28px;
				grid-auto-flow: column;
				grid-template-columns: 1fr;
				align-items: center;
				justify-items: start;
				// overflow: hidden;
				// white-space: nowrap;
				// text-overflow: ellipsis;
				border: 1px solid transparent;
				border-top: 0px;
				// grid-template-columns: 1fr auto; /* Делаем элемент гибким */
				// max-width: 100%;
				// justify-content: center;
				// align-items: center;

				// align-items: center;
				// border: 1px solid transparent;
				cursor: default;
				// max-width: 150px;
				// text-overflow: ellipsis;
				.FieldSearch {
					width: 100%;
					box-sizing: content-box;
					border: 1px solid $color34;
					border-radius: $radius2;
					height: 25px;
					padding: 0px 3px;
					// line-height: 11px;

					&:focus {
						// outline: none;
						outline: 2px solid $color2;
						// box-shadow: 0 0 5px 1px $color2;
					}
				}
			} // .TableHeaderColumn

			// div {
			// 	// height: 27px;
			// 	display: grid;
			// 	grid-auto-flow: column;
			// 	align-items: center;
			// 	text-align: left;
			// 	padding: 4px 7px;
			// }
		}
	}
	&::before {
		// margin-bottom: 0px;
		content: " "; /* Псевдоэлемент нуждается в содержимом */
		// padding: 2px; /* Отступы */
		display: block; /* Отображение блока, чтобы отступы работали */
		position: absolute; /* Позиционирование относительно родителя */
		top: 0; /* Например, расположение внизу */
		left: 0; /* Сдвиг от левого края */
		right: 0; /* Сдвиг от правого края, если нужно заполнить */
		// box-shadow: 0 0 1px 1px $color10;
		// border-bottom: 22x solid $color10;
		height: 1px;
		background: $color10;
		// transition: box-shadow 1s ease-out;
		// box-shadow: 0px -1px 5px 0px $color6;
	}
	&::after {
		// margin-bottom: 0px;
		content: " "; /* Псевдоэлемент нуждается в содержимом */
		// padding: 2px; /* Отступы */
		display: block; /* Отображение блока, чтобы отступы работали */
		position: absolute; /* Позиционирование относительно родителя */
		bottom: 0; /* Например, расположение внизу */
		left: 0; /* Сдвиг от левого края */
		right: 0; /* Сдвиг от правого края, если нужно заполнить */
		// box-shadow: 0 0 1px 1px $color10;
		// border-bottom: 22x solid $color10;
		height: 1px;
		background: $color10;
		// transition: box-shadow 1s ease-out;
		// box-shadow: 0px 1px 5px 0px $color6;
	}
}

.TabFieldActive {
	@extend .TableBodyCell;
	border: 1px solid $color1 !important;
	background: $color2;
}

.LabelForCheckbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	// background: red;
	// height: 42px;
	// width: 22px;
}

input[type="checkbox"] {
	/* необходимо для чекбоксов в таблице */
	height: 18px;
	width: 18px;
	accent-color: $colorPrimaryDark;
	// border: 9px solid #ccc;
	// accent-color: $color10;
	// transform: rotate(45deg);
	// appearance: none;
	cursor: default;
	margin: 0px;
	// outline: 1px solid blue;
	// border: 1px solid red;
	// transition: all 0.3s ease;
	&:checked {
		// background-color: #007bff;
		// border-color: #007bff;
		// transform: scale(1.1);
	}
	&:focus {
		outline: none;
		// box-shadow: 0 0 2px $color6;
		// border: 1px solid $color1;
		// box-shadow: 0 1px 3px $color5;
		// border: 1px solid red;
		// box-shadow: 0px 0px 3px #262626;
	}
}

.contextMenu {
	user-select: none;
	z-index: 9999;
	position: absolute;
	width: 200px;
	padding: 0px;
	// outline: 1px solid $colorTheme;

	background-color: $color60;
	border: 1px solid $color10;
	border-radius: $radius2;
	box-shadow: 0px 0px 3px 0px $color10;
}
.contextMenu_list {
	display: flex;
	flex-direction: column;
	// justify-content: space-around;
	padding: 0px;

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		padding: 5px;

		&:not(:last-child) {
			border-bottom: 1px solid $color30;
		}
		&:first-child {
		}
		a {
			display: grid;
			grid-template-columns: 22px 1fr;
			align-items: center;

			font-size: 12px;

			&:hover {
				color: $colorTheme;
			}
		}
	}
}

hr {
	padding: 0px;
	margin: 0px;

	outline: none;
	border: 0px;
	border-bottom: 1px solid $color33;
}

.HeaderName {
	font-size: 110%;
	user-select: none;
	// font-weight: bold;
	// box-shadow: inset 0 0 3px $color30;
	background: #fff;
	border-top: 1px solid $color10;
	border-left: 1px solid $color10;
	border-right: 1px solid $color10;
	border-bottom: 1px solid transparent;
	padding: 6px 12px 6px 12px;
	margin: 6px 6px -1px 18px;
	border-top-left-radius: $radius2;
	border-top-right-radius: $radius2;
	// position: static;
	z-index: 2;
	// clip-path: 2px -5px -10px -20px round 5px;
}

.FormWrapper {
	flex: 1;
	// height: 100%;
	padding: 6px;
	margin: 6px;
	background-color: #fff;
	scroll-behavior: smooth;
	overflow: auto; /* Прокрутка по вертикали */
	border: 1px solid $color10;
	box-shadow: inset 0 0 3px $color30;
	border-radius: $radius2;
}

.ScrollWrapper {
	// height: calc(100vh - 30px);
	// max-height: 100vh;
	z-index: 1;
	// display: grid;
	flex: 1;
	// width: min-content;
	// grid-gap: 6px;
	margin: 0px 6px 6px 6px;
	padding: 6px;
	background-color: #fff;
	scroll-behavior: smooth;
	// overflow: scroll;
	overflow: auto; /* Прокрутка по вертикали */
	border: 1px solid $color10;
	// box-shadow: inset 0px 0px 6px 5px $color6;
	border-radius: $radius2;
}

.dragging {
	// background-color: $color2 !important;
	opacity: 0.6; /* Пример стиля, меняющий прозрачность во время перетаскивания */
	// transform: scale(1) !important; /* Увеличение размера элемента */
	// box-shadow: 0 0 3px $color3 !important;	&:hover {
	// border: 1px solid $color1;
	// background-color: $color2;
	// box-shadow: inset 0px 1px 3px $color60;
}

.CheckboxWrapper {
	width: inherit;
	// max-width: 350px;
	// min-width: 200px;
	// background-color: red;
	// padding: 6px;
	// border: 1px solid $color10;
	// border-radius: $radius2;
	// box-shadow: 0px 0px 3px $color10;
	// margin: 6px;
	display: flex;
	// flex-direction: column;
	align-items: center;
}
.CheckboxList {
	padding: 0;
	margin: 0px;
	// width: 333px;
	// list-style: none;
	transition: transform 0.2s ease;
	display: flex;
	accent-color: $colorPrimaryDark;
	flex-direction: column;
	// flex: 1 1;
}
li.ListItem {
	width: 100%;
	// z-index: 1;
	display: flex;
	// justify-content: flex-start;
	border: 1px solid $color34;
	// box-shadow: 0 0 0px 1px $color5;
	// flex: 1 1 100px;
	user-select: none;
	// cursor: grab;
	margin: 6px 0px;
	padding: 2px 0px;
	align-items: center;
	// justify-content: space-between;
	background-color: $color30;
	border-radius: $radius2;

	.DragAndDrop {
		// cursor: pointer;
		cursor: grab;
		// flex: 0 0;
		display: flex;
		align-items: center;
		border-radius: $radius2;
		margin-right: 6px;
		padding: 3px;
		// justify-items: end;
		// flex-direction: row;
		&:hover {
			// background-color: $color2;
		}
	}
	input[type="checkbox"] {
		// display: flex;
		height: 16px;
		width: 16px;
		// justify-self: center;
		// align-self: center;
		// border: 9px solid #ccc;
		accent-color: $colorPrimaryDark;
		// transform: rotate(45deg);
		// appearance: none;
		cursor: default;
		margin: 0px;
		// outline: 1px solid blue;
		// border: 1px solid red;
		// transition: all 0.3s ease;
		&:checked {
			// background-color: #007bff;
			// border-color: #007bff;
			// transform: scale(1.1);
		}
		&:focus ~ label {
			// height: 16px;
			// width: 16px;
			// font-weight: bold;
			text-decoration: underline;
		}
	}
	label {
		margin-left: 6px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.PaginationPages {
	// width: 80px;
	// display: flex;
	flex-direction: row;
	flex-grow: 1;

	background: $color60;
	border: 1px solid $color10;
	border-radius: $radius2;
	padding: 0px 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	// font-weight: bold;
	font-size: 120%;

	input[type="number"] {
		border: 0px;
		outline: 0px;
		width: 100%; /* Растягиваем на доступную ширину родительского элемента */
		width: 30px; /* Ограничиваем максимальную ширину */
		// min-width: 50px; /* Минимальная ширина для сжатия */
		flex-grow: 1; /* Элемент может расширяться, если нужно */
		flex-shrink: 1; /* Элемент может сжиматься */
		flex-basis: 0; /* Использование стандартного поведения */
	}
}

.TableConfigListHeader {
	justify-content: space-between;
	margin: 1px;
	display: flex;
	flex-direction: row;
}
