@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600&display=swap&subset=cyrillic");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"); */
// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
	font-family: "PT Sans";
	// font-family: "Raleway", sans-serif;
	/*  */
	/* font-family: "Inter", sans-serif; */
	//font-weight: 800;
	//font-style: normal;
}

html,
body {
	user-select: none;
	font-size: 13px;
	margin: 0;
	padding: 0;
	// width: fit-content;
}

#root {
	position: relative;
	padding: 0px;
	// width: fit-content;
	// overflow: auto;
}

.Screen {
	// container-type: size; // не знаю может надо ??
	display: flex;
	flex-direction: column;
	height: 100dvh;
	// display: grid;
	// grid-template-rows: 7dvh 85dvh 7dvh;

	min-width: 300px;
	position: relative;
}

.NavbarWrapper {
	position: sticky;
	top: 0px;
	z-index: 4;
	// height: 49px;
	// gap: 12px;
	// padding: 6px;
	border-bottom: 0px solid $color10;
	display: flex;
	align-items: center;
	background-color: #fff;
	// box-shadow: 0px 0px 6px rgba(#000, 0.4);
	// position: relative;
	// gap: 6px;
	// z-index: 1;
	.NavbarItem {
		// background-color: rgba($color3, 0.8);
		// font-weight: bold;
		color: $color3;
		border-radius: $radius3;
		font-size: 14px;
		// text-decoration: underline;
		font-weight: 500;
		// text-shadow: 0px 0px 1px 1px #000;
		margin: 6px;
		padding: 6px;
		display: flex;
		flex-direction: row;
		align-items: center;
		// &:not(:last-child) {
		// 	margin-left: 12px;
		// }
	}
	.Active {
		background-color: rgba($color3, 0.8);
		color: #fff;
		text-decoration: none;
		// background: $color80;
	}
}
.NavbarOverlayWrapper {
	position: absolute;
	display: flex; //!!!
	flex: 1; //!!!
	top: 42px;
	bottom: 0;
	left: 0px;
	right: 0;
	padding: 12px;
	// margin: 6px;
	// height: 50%;
	// width: 60%;
	// background: $color80;
	z-index: 4;
	background-color: #fff;
	// border-bottom: 6px solid rgba($color34, 0.8);
	// box-shadow: 3px 3px 6px rgba($color3, 0.8);
}
.NavListWrapper {
	h1 {
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 20px;
		color: $color6;
		// font-family: "Segoe UI";
		// letter-spacing: 1px;
	}
	h3 {
		margin: 24px 0 0 0;
		padding: 0;
		color: $color51;
		font-size: 16px;
		font-weight: normal;
	}
}
.NavList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 6px 6px 6px 18px;
	padding: 0;
	// list-style: none;
	// line-height: 24px;
	li {
		// flex: 1 1 auto;
		margin: 4px 0px;
		color: $color3;
		text-decoration: underline;
		cursor: pointer;
		// background-color: red;
	}
}
.PaneGroupWrapper {
	position: relative;
	z-index: 3;
	border: 0px solid $color10;
	background-color: #fff;
	// background: #f1f5f9;
	overflow: hidden;
	position: relative;
	height: inherit;
	// padding: 0px 12px;
	// display: flex;
	.Pane {
		// padding-top: 12px;
		// height:-webkit-fill-available;
		// min-height: 100vh;
		height: inherit;
		flex: 1;
		overflow-y: auto;
		// padding: 0px 6px;
		// margin-bottom: 6px;
		padding: 0px 12px 0px 12px;
		// overflow-y: auto;
		display: none;
	}
	.ActivePane {
		// position: inherit;
		display: flex;
		height: -webkit-fill-available;
	}
}
.PaneTabWrapper {
	overflow: hidden;
	padding: 6px 12px;
	// height: 50px;
	display: flex;
	// border-top: 1px solid $color10; /* Линия под вкладками */
	position: relative; /* Для корректного позиционирования вкладок */
	flex-direction: row;
	background-color: #fff;
	// background: url("../../assets/bgpane.jpg");
	// background-size: ;
	z-index: 1;
	// flex: 1;
	// width: fit-content;

	&::before {
		content: "";
		position: absolute;
		background-color: #fff;
		top: 0px;
		left: 0;
		width: 100%;
		height: 6px;
		// margin-top: -1px;
		z-index: 2;
		border-bottom: 1px solid $color10;
	}
	// padding-bottom: 12px;
	.PaneTab {
		// box-sizing: content-box;
		border-top: 1px solid $color10;
		border-left: 1px solid $color10;
		border-right: 1px solid $color10;
		border-bottom: 1px solid $color10;
		// border-top: none;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		// min-width: 100px;
		// height: 30px;
		// font-family: "Segoe UI";
		// line-height: 20px;
		background: $color33;
		// background: linear-gradient(-180deg, #eee, #ddd, #bbb);
		// color: $color51;
		display: flex;
		justify-content: left;
		align-items: center;
		/* Используем SVG для скошенного угла */
		padding: 6px 12px;
		cursor: pointer;
		margin-right: -1px; /* Наложение краев с учетом границы */
		// font-weight: bold;
		z-index: 1;
		// margin: 0px 6px 0px 12px;
		// box-shadow: 0 0 5px 3px rgba($color5, 0.2);

		&:hover {
			// background-color: $color2;
			// border-color: $color3;
			// border-top: 1px solid transparent;
			// border-top: 1px solid $color10;
			// border-left: 1px solid $color10;
			// border-right: 1px solid $color10;
			// border-top: transparent;
			// color: #000;
			// z-index: 1;
		}
	}
	.PaneTabActive {
		border-top: 1px solid transparent;
		box-shadow: inset 0px -2px 0px 0px $color3;
		// border-bottom: 9px solid $color80;
		// position: relative;

		// margin-top: -2px;
		background-color: #fff;
		// border: 1px solid $color60;
		// border-top: 1px solid $color3;
		color: $color6;
		// font-weight: bold;
		z-index: 9;

		&:hover {
			// border-color: $color10;
			// border-top: 1px solid $color30;
			// background-color: $color30;
			// cursor: default;
			// color: $color3;
		}
	}
}

.FormWrapper {
	// gap: 6px;
	// width: 100%;
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: min-content auto;
	gap: 12px;
	display: flex;
	container-type: size;
	flex-direction: column;
	flex: 1;
	min-height: 300px;
	transition: all 0.5ms ease;
	border-radius: $radius2;
}

.FormHeaderLabel {
	margin: 12px 0 0px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 120%;
	color: $color6;
	// text-decoration: underline;
	// user-select: default;
	// background-color: red;
}

.FormBody {
	// gap: 12px;
	flex-direction: column;
	display: flex;
	container-type: size;
	flex: 1;
	// margin: 3px;
	// padding: 3px;
	// padding-top: 18px;
	// max-width: 600px;
	// min-width: 600px;
}
.FormBodyParts {
	// display: flex;
	// flex-direction: row;
	gap: 12px;
	flex: 1;
	display: grid;
	grid-template-columns: 600px 1fr;
	grid-template-rows: 1fr;
	container-type: size;
}

.FormTable {
	// margin: 6px;
	width: auto;
	// margin-top: 20px;
	container-type: size;
	flex-direction: column;
	flex: 1;
	display: flex; // border: 1px solid red;
	// height: 50cqi;
}
.GroupLabel {
	// display: inline;
	width: fit-content;
	// border: 1px solid red;
	margin: 0 0 0px 6px;
	padding: 6px 12px;
	font-weight: 400;
	font-size: 110%;
	text-shadow: none;
	// text-transform: uppercase;
	color: $color51;
	user-select: none;
	// text-decoration: underline;
	// border-bottom: 1px solid $color10;
	border-top-left-radius: $radius4;
	border-top-right-radius: $radius4;
	background: $color30;
}
.HorizontalLine {
	border-radius: 2px;
	background: linear-gradient(to bottom, $silverDark 50%, $silverLightest 50%);
	height: 3px;
	width: 100%;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.OverFormWrapper {
	// top: 16px;
	z-index: 1;
	transform: translate(-36px, 15px);
	border: 1px solid $color10;
	position: absolute;
	background: $color30;
	border-radius: $radius2;
	box-shadow: 0px 6px 12px 3px rgba($color6, 0.8);
	animation: fadeIn 0.3s ease;
}
.OverFormNest {
	z-index: 9;
	position: relative;
}
.OverFormTringleIcon {
	z-index: 2;
	position: absolute;
	top: 6px;
	right: 50%;
	&::after {
		content: "";
		position: absolute;
		z-index: 2;
		width: px;
		height: 1px;
		background-color: $color30;
		top: 10px;
		left: 4px;
	}
}

#RootPortal,
.RootPortal {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex: 1;
	// flex-direction: column;
	place-items: center;
	place-content: center;
	// justify-content: center;
	// align-items: center;
	// border: 2px solid blue;
	// place-items: center center;
	// background: rgba($color10, 0.5);
	// filter: blur(5px);

	&::before {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		position: absolute;
		inset: 0;
		z-index: 0;
		// backdrop-filter: blur(6px) brightness(0.9);
	}
}
.PortalWrapper {
	z-index: 9;
	position: relative;
	// display: flex;
	// flex-direction: row;
	// align-items: center;
	// justify-items: center;
	// margin: 0 auto;

	height: 90dvh;
	width: 90dvw;
	border: 1px solid $color34;
	border-radius: $radius3;
	padding: 18px;
	box-shadow: 2px 2px 12px rgba($color34, 0.8);
	background-color: $color80;
}
