$color60: #ffffff;
$color30: #eee;
$color33: #ddd;
$color34: #bbb;
$color10: #aaa;
$color5: #888; // $color5: #aaaaaa;rgba(51, 51, 51, 0.1);
$color51: #666;
$color6: #222;
$colorTheme: #6aa3ff;
$color1: #6aa3ff;
$color2: #bcd6ff;
$color3: #073989;

$silverLightest: #f5f5f5;
$silverLight: #dcdcdc;
$silver: #c0c0c0;
$silverDark: #a9a9a9;
$silverDarkest: #808080;

// $color1: #87a2ff;
// $color2: #c4d7ff;
$colorPrimaryLight: #2c77ef;
$colorPrimaryDark: #1c5fcb;
$color80: #f1f5f9;
$color81: #9aa7b6;

$radius1: 1px;
$radius2: 2px;
$radius3: 3px;
$radius4: 4px;
$heightFieldInput: 26px;

.mr10 {
	padding-right: 10px;
}

a {
	color: $color3;
}
.h2 {
	font-size: 20px;
	font-weight: 400;
}

.blur5 {
	filter: blur(5px);
}
// доступ через styles.rowGroup
.rowGroup,
.RowGroup {
	/* горизонтально */
	display: flex;
	flex-direction: column;
	// height: 100%;
	// flex: 1;
	// gap: 6px;
	/* padding: 9px; */
}
.colGroup,
.ColGroup {
	/* вертикально */
	display: flex;
	flex-direction: row;
	// width: 100%;
	// flex: 1;
	// gap: 6px;
	/* padding: 9px; */
}

.gap3 {
	gap: 3px;
}
.gap6 {
	gap: 6px;
}
.BG_EASY {
	background: rgba($silver, 0);
	padding: 12px;
}
.BG_MEDIUM {
	background: rgba($silver, 0.2);
	padding: 12px;
}
.BG_HARD {
	background: rgba($silver, 0.3);
	padding: 12px;
}

.primary {
	background: linear-gradient(180deg, #ffe240, #caac00) !important;
	// color: rgb(39, 39, 39) !important;
}
.primary:hover {
}

.secondary {
	background: linear-gradient(180deg, #fff, #aaa);
	// color: $color6 !important;
	// border: 1px solid #7d7d64;
}
.secondary:hover {
	// border: 1px solid #3d3400;
}

.danger {
	background-color: #dc3545 !important;
	color: white !important;
}
.danger:hover {
	background-color: #b02a37 !important;
}

.outline {
	background-color: transparent !important;
	border: 2px solid #007bff !important;
	color: #007bff !important;
}
.outline:hover {
	background-color: rgba(0, 123, 255, 0.1) !important;
}
