.Button {
	// background: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 50%, #e2e8f0 100%);

	display: flex;
	align-items: center;
	// background-color: #fc0;

	box-sizing: content-box;
	outline: none;
	margin: 0;
	// padding: 6px 6px; /* Увеличен размер кнопки */
	// font-size: 13px;
	text-align: center;
	border: 1px solid $color5;
	padding: 0px 6px;
	// border: 1px solid $color10;
	// background: linear-gradient(180deg, $color30, $color33, $color34);

	border-radius: $radius3; /* Увеличен радиус скругления */
	// box-shadow: 0px 1px 0px 0px rgba($color6, 0.7);
	// box-shadow: inset 0px 0px 1px $color30, inset 0px 0px 1px $color1;
	height: 26px; // $heightFieldInput: 24px;
	// min-width: 60px;
	// transition: all 1000ms ease; /* Плавные переходы */
	// Цвет текста по умолчанию

	&:not(:last-child) {
		// margin-right: 6px;
	}

	// Оформление для текста в кнопке
	span {
		padding: 0 3px;
		font-weight: normal;
		line-height: normal;
		white-space: nowrap;
		display: flex;
		align-items: center;
	}

	&:enabled {
		cursor: pointer;
		color: $color6;
		// background: linear-gradient(180deg, #f8fafc 0%, #f1f5f9 50%, #e2e8f0 100%);
		background: linear-gradient(180deg, #fff, $color33, $color34);

		box-shadow: 1px 1px 1px 0px rgba(#eeeeee, 1);
		&:hover {
			// outline: 1px solid $color2;
			border: 1px solid $color6;
		}
		&:active {
			// background: linear-gradient(180deg, $color34, $color33, $color30);
			// outline: 1px solid $color6 // border: 1px solid $color6;
			// background-color: $color2;
			// box-shadow: inset 0px 1px 3px $color60;
			// border: 1px solid $color10;
			box-shadow: 0px 0px 1px 2px rgba($color6, 0.2);
		}
	}
}

.ButtonImage {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 28px;
	border-width: 0px;
	border-radius: $radius2;
	background: none;

	&:not(:last-child) {
		// margin-right: 6px;
	}

	&:enabled {
		cursor: pointer;
		color: $color6;
	}
	&:hover {
		background-color: rgba($color81, 0.3);
	}
}
