// $heightFieldInput: 26px;
.FieldDate,
.FieldString,
.FieldSelect {
	// flex: 1 1 auto;
	// display: flex;
	width: 100%;
	border: none;
	border-radius: $radius2;
	height: $heightFieldInput;
	padding: 0px 6px;
	box-sizing: content-box;
	option {
		padding: 0px;
	}
	&:focus {
		// border: 1px solid transparent;
		// outline: 1px solid $color2;
		outline: 0px;
		// box-shadow: 0px 0px 3px 3px red;
	}
	&:not(:last-child) {
		// margin-right: 6px;
	}
}
.FieldString {
	padding: 0px 3px;
	// padding: px;
	// padding-right: 52px; // Перенесено из инлайн-стиля
	// border-radius: $radius2;
	font-family: "PT Sans", sans-serif;
	// font-size: 40px;
	// height: $heightFieldInput;
}
.FieldSelect {
	padding: 0px;
}
.FieldDateWrapper {
	position: relative;
	display: flex;
	align-items: center;
	flex: 1 1 100%;
	// justify-content: space-around;
	border: 1px solid $color5;
	border-radius: $radius2;
	background-color: $color60;
	gap: 10px;
	&:focus-within {
		border: 1px solid $color3;
		// box-shadow: 0px 0px 2px 0px rgba($color3, 0.3);
	}
}

.FieldLabel {
	// height: 28px;
	width: min-content;
	// padding: 0 6px 0 0;
	// flex: 0 0 1;
	display: flex;
	align-items: end;
	box-sizing: content-box;
	text-wrap: nowrap;
	// font-size: 110%;
	margin-bottom: 3px;
	// justify-content: center;
	// align-self: center;
	// text-align: center;
	// vertical-align: middle;
	// background-color: red;
}
.FieldWrapper {
	// max-width: 500px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	// align-items: center;
	// margin-top: 8px;
	// gap: 8px;
}
.FieldInputWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;

	border-radius: $radius2;
	border: 1px solid $color5;
	outline: none;
	// width: max-content;
	// border: 5px solid $color10;
	flex: 1 1 100%;
	&:focus-within {
		border: 1px solid $color3;
		// box-shadow: 0px 0px 2px 0px rgba($color3, 0.3);
	}
}
.FieldSelectWrapper {
	display: flex;
	gap: 6px;
}
.FieldGroup {
	// display: flex;
	// flex-direction: row;
	// width: 100%;
	gap: 6px;
	// padding-right: 6px;
}
.FieldActions {
	box-sizing: content-box;
	// 	padding: 0px 3px;
	// padding: 8px;
	// padding-right: 52px; // Перенесено из инлайн-стиля
	// border: 1px solid $color10;
	// border-radius: $radius3;
	// font-family: "PT Sans", sans-serif;
	// font-size: 13px;

	position: absolute;
	right: 3px;
	// display: flex;
	// border: 1px solid blue;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 auto;
	gap: 3px;
	height: ($heightFieldInput - 6px); // height: 28px;
	// width: ($heightFieldInput - 6px); // height: 28px;
	// gap: 4px;
	// margin-left: -48px; // Смещение для наложения кнопок на input
	// align-items: center;
	button {
		border-radius: $radius2;
		display: flex;
		// align-items: center;
		// justify-content: center;
		background: rgba($color81, 0.2);

		width: ($heightFieldInput - 6px);
		height: 100%;
		// flex: 1 1 0;

		place-items: center;
		// flex-direction: column;
		// height: 100%;
		border: 0px solid transparent;
		// background: none;
		// border: none;
		cursor: pointer;
		padding: 3px;
		color: #000000;

		img {
			width: max-content;
			height: max-content;
		}
	}
}
